[submodule "deno-worker-sandbox"]
	path = deno-worker-sandbox
	url = https://github.com/publicdomainrelay/deno-hono-sandbox.git
[submodule "hono-compute-provider"]
	path = hono-compute-provider
	url = https://github.com/publicdomainrelay/compute-provider-digitalocean.git
[submodule "hono-jsr"]
	path = hono-jsr
	url = https://github.com/publicdomainrelay/hono-package-registry.git
[submodule "hono-pds"]
	path = hono-pds
	url = https://github.com/publicdomainrelay/hono-pds.git
[submodule "typescript-helpers"]
	path = typescript-helpers
	url = https://github.com/publicdomainrelay/typescript-helpers
[submodule "did-key-ingress-proxy"]
	path = did-key-ingress-proxy
	url = https://github.com/publicdomainrelay/did-key-ingress-proxy
[submodule "atproto-market"]
	path = atproto-market
	url = https://github.com/publicdomainrelay/atproto-market
[submodule ".reference/compute-contract-reference-implementation-poc"]
	path = .reference/compute-contract-reference-implementation-poc
	url = https://github.com/publicdomainrelay/compute-contract-reference-implementation-poc
[submodule "deno-macos-runner-desktop"]
	path = deno-macos-runner-desktop
	url = https://github.com/publicdomainrelay/deno-macos-runner-desktop.git
[submodule "open-architecture"]
	path = open-architecture
	url = https://github.com/publicdomainrelay/open-architecture.git
[submodule "did-key-associator"]
	path = did-key-associator
	url = https://github.com/publicdomainrelay/did-key-associator.git
[submodule "atproto-reverse-proxy"]
	path = atproto-reverse-proxy
	url = https://github.com/publicdomainrelay/atproto-reverse-proxy
[submodule "compute-contract"]
	path = compute-contract
	url = https://github.com/publicdomainrelay/compute-contract.git
[submodule "atproto-relay"]
	path = atproto-relay
	url = https://github.com/publicdomainrelay/atproto-relay
[submodule "social-web-computer"]
	path = social-web-computer
	url = https://github.com/publicdomainrelay/social-web-computer.git
[submodule "digitalocean-bidder"]
	path = digitalocean-bidder
	url = https://github.com/publicdomainrelay/digitalocean-bidder.git
[submodule "policy-engine"]
	path = policy-engine
	url = https://github.com/publicdomainrelay/policy-engine
[submodule "socialweb-computer-ssh"]
	path = socialweb-computer-ssh
	url = https://github.com/publicdomainrelay/socialweb-computer-ssh
